body{
    width: 100vw;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Banner */

.banner{
    width: 100%;
    height: 75%;
    background-image: url(../imgs/bg-home-fotor-20230927192116.png);
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner h1{
    width: 800px;
    font-family: monospace;
    font-weight: 800;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 7px black;
}
.banner button{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #1A3850;
    color: #fff;
    font-size: 26px;
    font-family: monospace;
    font-weight: 800;
    box-shadow: 2px 2px 6px black;
    border: none;
    transition: 0.5s;
}
.banner button:hover{
    /* border: solid 2px #fff; */
    cursor: pointer;
    transform: scale(1.1);
}
/* Footer */

.footer{
    display: flex;
    width: 100%;
    height: 12%;
    background-color: #1A3850;
    box-shadow:  inset 0 0 10px rgb(19, 19, 19);
}

/* Login*/

.main{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #c9c9c9a8;
}

.container-login{
    width: 25%;
    height: 60%;
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.titulo-login{
    font-size: 26px;
}

.container-login .user{
    height: 70px;
}
.container-login .senha{
    height: 30px;
}

.container-login .botao{
    height: 60px;
}

.user{
    display: flex;
    align-items: flex-end;
}
input{
    height: 40px;
    width: 300px;
    font-size: 26px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    background-color: transparent;
}

.botao{
    display: flex;
    align-items: flex-start;
}

button{
    height: 50px;
    width: 300px;
    background-color: #1A3850;
    border: none;
    margin-top: -30px;
    font-size: 30px;
    font-family: monospace;
    font-weight: 800;
    color: #fff;
    border-radius: 20px;
}

.container-login input{

}